.spin{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.spinning{
    animation: spinner 1s infinite;
}

@keyframes spinner{
    to {
        transform: rotate(360deg);
    }
}